[submodule "submodules/NevermoreEngine"]
	path = submodules/NevermoreEngine
	url = https://github.com/Quenty/NevermoreEngine
[submodule "submodules/RbxUtil"]
	path = submodules/RbxUtil
	url = https://github.com/Sleitnick/RbxUtil
[submodule "submodules/roblox-luau-utils"]
	path = submodules/roblox-luau-utils
	url = https://github.com/noname156/roblox-luau-utils
